{{!-- <link rel="stylesheet" href="/css/styles.css">
<nav class="navbar">
                <div class="logo"><img src="/images/Ojo.png" alt=""> <a href="/">OjoAhi</a></div>
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar">Iniciar Sesi贸n</span>
                    <span class="bar">Registrarse</span>
                    <span class="bar">Inicio</span>
                </div>
                <ul class="nav-links">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/login" class="cta">Iniciar Sesi贸n</a></li>
                    <li><a href="/register" class="cta">Registrarse</a></li>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/volunteers">Voluntarios</a></li>
                    <li><a href="/reservations">Mis Reservas</a></li>
                    {{#if user}}
                        <li><a href="/profile">Mi Perfil</a></li>
                        <li><a href="/logout">Cerrar Sesi贸n</a></li>
                    {{else}}
                        <li><a href="/login">Iniciar Sesi贸n</a></li>
                        <li><a href="/register">Registrarse</a></li>
                    {{/if}}
                </ul>
            </nav>
            <script src="/public/js/main.js"></script> --}}