<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OjoAhi</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/OjoAhiLogo.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><a href="/"> <img class="logo" src="/images/OjoAhiLogo.png" alt="">OjoAhi</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/login">Iniciar Sesión</a></li>
                    <li><a href="/register">Registrarse</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        {{{body}}}
    </div>

    <footer>
        <p class="copyright">&copy; 2024 ELTEAM. All rights reserved.</p>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>