<div class="404" style="background-color: #0d0d0dff;">
<h1 style="color: #00f8b6ff; justify-content:center; align-items:center; display:flex;">404 - P치gina no encontrada</h1>
<br>
<p style="color: white; justify-content:center; align-items:center; display:flex;">Lo sentimos, la p치gina que est치s buscando no existe, MUCHO MENOS VER.</p>
<img style="display: block; margin-left: auto; margin-right: auto;" src="/images/ciegos-search.png" alt="">
<a style="justify-content:center; align-items:center; display:flex;" href="/">Volver a la p치gina principal</a>
</div>