<link rel="stylesheet" href="/css/creators.css">
<div class="creators">
<h1 style="color: #00f8b6ff;">Nuestros Creadores</h1>
<p style="color: white;">Conoce a las MENTES MAESTRAS detrás de esta aplicación.</p>
<div class="creators-container">
  <div class="creator-list">
    <div class="creator-card">
      <img src="/images/Lucas.png" alt="Creador 1">
      <h2>Lucas Maximiliano Dávila Faliu</h2>
      <p>Descripción breve del Creador 1</p>
    </div>
    <div class="creator-card">
      <img src="/images/Carlos.png" alt="Creador 2">
      <h2>Carlos Maria Elosegui De Oscar</h2>
      <p>Descripción breve del Creador 2</p>
    </div>
    <div class="creator-card">
      <img src="/images/Diego.png" alt="Creador 3">
      <h2>Diego Martin Méndez Moreira</h2>
      <p>Descripción breve del Creador 3</p>
    </div>
    <div class="creator-card">
      <img src="/images/Cesar.png" alt="Creador 4">
      <h2>César Agustin Da Silva</h2>
      <p>Descripción breve del Creador 4</p>
    </div>
    <div class="creator-card">
      <img src="/images/Juan.png" alt="Creador 5">
      <h2>Juan Andrés Moreira Costa</h2>
      <p>Descripción breve del Creador 5</p>
    </div>
  </div>
</div>
</div>
