/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
  }

  .about{
    padding: 20px;
    background-color: #0d0d0dff;
  }
  
  /* Header */
  h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* About Section */
  .about-section {
    margin: 20px 0;
    padding: 20px;
    background-color: #0d0d0dff;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-section h2 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .about-section p {
    font-size: 1em;
    color: white;
    text-align: center;
    margin: 0 0 10px;
  }
  
  /* Values List */
  .values-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .values-list li {
    background-color: #00f8b6ff;
    color: #0d0d0dff;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px;
    font-weight: bold;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .about-section {
      padding: 15px;
    }
    
    .values-list {
      flex-direction: column;
      align-items: center;
    }
  }
  